<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{ project.title }}</h1><br>

 

    
    {% for tag in  tags %}
      <span style="color: blue; font-size: 30px; border: 2px solid #000;  padding: 8px; "> {{ tag  }} </span><br>
       <br>
       <br>
      {% endfor %}
    <br>
    <br>
    {{ project.description }}

    
    
    

   
   
     
</body>
</html>